body {
  font-family: arial, sans-serif;
}
.main {
  margin-top: 3em;
  margin-left: 7ex;
  margin-right: 7ex;
  margin-bottom: 30em;
  position: relative;
}
.round {
  position: fixed;
  width: 60%;
  min-width: 25em;
  bottom: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  padding: 0.25em;
  display: none;
}
.but {
  background-color: #EEEEEE;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: small;
}
.but:active {
  background-color: white;
  position: relative;
  left: 2px;
}
.responselist {
  display: flex;
  flex-wrap: wrap;
}
.response {
  margin-top: 2ex;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #ffffdd;
  margin-right: 2ex;
  flex-basis: calc(33.33% - 2ex - 2em - 2px);
  min-width: calc(33.33% - 2ex - 2em - 2px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.mypost {
  background-color: #ddddf0;
}
.tagpost {
  background-color: #bb88dd
}
.raw {
  display: none;
  color: #707000;  /* 4c5200 */
  max-height: 15em;
  overflow: scroll;
}
.cooked {
  max-height: 15em;
  overflow: scroll;
}
.postbot {
  background-color: inherit;
  font-size: 80%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.5ex;
}
.posttime {
  flex-basis: 33%;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
.like {
  flex-basis: 33%;
  text-align: right;
  background-color: inherit;
}
.like:active {
  flex-basis: 33%;
  position: relative;
  right: -2px;
} 
.showraw {
  font-size: xx-small;
  font-style: italic;
  background-color: inherit;
}
.messages {
  position: fixed;
  top: 2ex;
  left: 20%;
  right: 20%;
  background-color: white;
  border-radius: 5px;
  z-index: 10;
}
.message {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffbbbb;
  margin: 3ex 1ex;
  padding: 1ex 3ex;
  animation: fadein;
  animation-duration: 0.75s;
}
.message.leaving {
  animation: fadeout;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
#title {
  color: #444444;
}
#instructions {
  margin-top: 2ex;
}
#postButton {
  display: none;
}
#loadButton {
  display: none;
}
#startDiscussion {
  display: none;
}
#tagButton {
  display: none;
}
.fineprint {
  margin-top: 3ex;
  font-size: x-small;
  color: gray;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-5em); }
}
label {
  font-size: small;
}
.response img {
  max-width: 100%;
}
.response h1, .mypost h1 {
  font-size: 1.25em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.response h2, .mypost h2 {
  font-size: 1.1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.response h3, .mypost h3 {
  font-size: 1.0em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.response h4, .mypost h4 {
  font-size: 1.0em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-style: italic;
}
.response h5, .mypost h5 {
  font-size: 1.0em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: normal;
  font-style: italic;
}
.response h6, .mypost h6 {
  font-size: 0.75em;
  margin-top: 0.25em;
  margin-bottom: 0em;
  font-weight: bold;
}
.response p, .mypost p {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}
.response table, .mypost table {
  border-collapse: collapse;
  margin: 0 1em;
}
.response td, .mypost td, .response th, .mypost th {
  border: 1px solid black;
  padding: .25em;
}
.moderator {
  font-size: xx-small;
  background-color: darkgreen;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  display: none;
}
.modkey {
  display: none;
}
#floater {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 20%;
  max-height: 40%;
  min-height: 3em;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3em;
  text-align: center;
  overflow: auto;
  font-size: small;
  color: #444444;
  font-style: italic;
  font-weight: bold;
}
/* .check {
  font-size: x-large;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  max-width: 0.9em;
  max-height: 1.15em;
  min-height: 1.15em;
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 5px;
  color: darkolivegreen;
  background-color: rgba(211, 211, 211, 0.9);
  display: none;
}
.check.endorsed {
  display: inline;
} */
/* .initial {
  margin-bottom: 2ex;
} */
#postArea {
  width: calc(100% - 0.5em);
  height: 10em;
}
.round.min #postArea {
  height: 1em;
}
.round.min #controls {
  display: none;
}

/* #postArea:focus {
  height: 10em;
} */