body {
  font-family: arial, sans-serif;
}
.main {
  margin-left: 7ex;
  margin-right: 7ex;
  /* position: relative; */
}
#popup {
  position: absolute;
  top: 1em;
  bottom: 1em;
  left: 25%;
  right: 25%;
  padding: 0.5rem 1rem;
  overflow: scroll;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
}
.columns {
  display: flex;
}
.feed {
  flex-basis: 33%;
  min-width: 33%;
  height: 100vh;
  overflow: scroll;
}
.feedcontent {
  padding-top: 1em;
  padding-bottom: min(30em, 75vh);
}
.workarea {
  flex-basis: 33%;
  min-width: 33%;
  height: 100vh;
  overflow: scroll;
  position: relative;
}
.workcontent {
  padding-top: 1em;
  padding-bottom: min(30em, 75vh);
}
#workprompt {
  font-style: italic;
  font-size: 80%;
  color: #444444;
  display: none;
  position: absolute;
  top: 2em;
  z-index: -1;
}
.scratcharea {
  flex-basis: 33%;
  min-width: 33%;
  height: 100vh;
  overflow: scroll;
}
.scratchcontent {
  padding-top: 1em;
  padding-bottom: min(30em, 75vh);
}
.round {
  position: fixed;
  width: 60%;
  min-width: 25em;
  bottom: 0.5em;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  padding: 0.25em;
  display: none;
}
.but {
  background-color: #EEEEEE;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: small;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.but:active {
  background-color: white;
  position: relative;
  left: 2px;
}
.response {
  margin-bottom: 1.2rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 2px;
  background-color: #ffffdd;
  margin-right: 1.2rem;
  /* flex-basis: calc(33.33% - 2ex - 2em - 2px);
  min-width: calc(33.33% - 2ex - 2em - 2px); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
}
.mypost {
  background-color: #ddddf0;
}
.tagpost {
  background-color: #bb88dd
}
.instructions {
  background-color: white;
  font-size: 80%;
}
.raw {
  display: none;
  color: #707000;  /* 4c5200 */
  max-height: 15em;
  overflow: hidden;
  position: relative;
}
.cooked {
  max-height: 15em;
  overflow: hidden;
  position: relative;
}
#popup .raw, #popup .cooked {
  max-height: none;
}
.vspace {
  width: 1px;
  height: 1.75em;
}
.overflow {
  background-image: linear-gradient(#ffffdd00,#ffffddbb,#ffffddff);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.75em;
}
.mypost .overflow {
  background-image: linear-gradient(#ddddf000,#ddddf0bb,#ddddf0ff);
}
.tagpost .overflow {
  background-image: linear-gradient(#bb88dd00,#bb88ddbb,#bb88ddff);
}
.instructions .overflow {
  background-image: linear-gradient(#ffffff00,#ffffffbb,#ffffffff);
}
#popup .overflow {
  background-image: linear-gradient(#ffffff00,#ffffffbb,#ffffffff);
}
.postbot {
  background-color: inherit;
  font-size: 70%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* margin-top: 0.5ex; */
}
#popup .postbot {
  position: sticky;
  background-color: #ffffffdd;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding: 0.3em;
  bottom: 0;
  left: 0;
  right: 0;
}
#popup .showraw {
  background-color: #ffffff00;
}
.posttime {
  flex-basis: 33%;
  flex-grow: 1;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}
.postbotbuts {
  flex-basis: 33%;
  flex-grow: 1;
  text-align: right;
}
.vote {
  font-weight: bold;
  font-style: italic;
  padding: .1em;
  border-radius: 2px;
  font-size: 80%;
  color: #444444;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.vote:active {
  position: relative;
  right: -2px;
}
.info {
  font-size: 80%;
  color: darkblue;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.info:active {
  position: relative;
  right: -2px;
}
.like {
  text-align: right;
  margin-left: 0.33em;
  padding-bottom: 1px;
  border-radius: 2px;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.like:active {
  position: relative;
  right: -2px;
}
.liked, .voted {
  background-color: #cfaa44;
  /* background-color: #c09f33; */
}
.showraw {
  flex-basis: 33%;
  flex-grow: 1;
  font-size: xx-small;
  font-style: italic;
  background-color: inherit;
}
.messages {
  position: fixed;
  top: 2ex;
  left: 20%;
  right: 20%;
  background-color: white;
  border-radius: 5px;
  z-index: 10;
}
.message {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ffbbbb;
  margin: 3ex 1ex;
  padding: 1ex 3ex;
  animation: fadein;
  animation-duration: 0.75s;
}
.message.leaving {
  animation: fadeout;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}
#title {
  color: #444444;
  padding: 0.3em;
  border: 1px solid black;
  border-radius: 3px;
}
#instructions {
  margin-top: 2ex;
}
#postButton {
  display: none;
}
#loadButton {
  display: none;
}
#startDiscussion {
  display: none;
}
#tagButton {
  display: none;
}
.fineprint {
  margin-top: 3ex;
  font-size: x-small;
  color: gray;
}
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-5em); }
}
label {
  font-size: small;
}
.md img {
  max-width: 100%;
}
.md h1 {
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.md h2 {
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.md h3 {
  font-size: 1.0em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-weight: bold;
}
.md h4 {
  font-size: 1.0em;
  margin-top: 0.4em;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-style: italic;
}
.md h5 {
  font-size: 1.0em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: normal;
  font-style: italic;
}
.md h6 {
  font-size: 0.75em;
  margin-top: 0.25em;
  margin-bottom: 0em;
  font-weight: bold;
}
.md p {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}
.md table {
  border-collapse: collapse;
  margin: 0 1em;
}
.md td, .md th {
  border: 1px solid black;
  padding: .25em;
}
.md blockquote {
  padding: 0 0.3em;
  border-left: 1px solid black;
  margin: 0.5em 2em;
  /* border-radius: 2px; */
}
.md blockquote p {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
.moderator {
  font-size: xx-small;
  background-color: darkgreen;
  color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  display: none;
  user-select: none;
  -webkit-user-select: none;
}
.modkey {
  display: none;
}
#floater {
  position: fixed;
  top: 1em;
  right: 1em;
  width: 20%;
  max-height: 40%;
  min-height: 3em;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.3em;
  text-align: center;
  overflow: auto;
  font-size: small;
  color: #444444;
  font-style: italic;
  font-weight: bold;
  display: none;
}
/* .check {
  font-size: x-large;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  max-width: 0.9em;
  max-height: 1.15em;
  min-height: 1.15em;
  padding: 0.25em;
  border: 1px solid black;
  border-radius: 5px;
  color: darkolivegreen;
  background-color: rgba(211, 211, 211, 0.9);
  display: none;
}
.check.endorsed {
  display: inline;
} */
.initial {
  width: 100%;
}
#postArea {
  width: calc(100% - 0.5em);
  height: 10em;
  max-height: 15vh;
  resize: none;
}
.round.min #postArea {
  height: 1em;
}
.round.min #controls {
  display: none;
}
#floattitle {
  margin-bottom: 0.5em;
}
